body {
   font-size: 15px;
}

.lives{
   font-size: 25px;
}
.category-container{
   display: flex;
   
}

.categoList{
   font-size: 30px;
   margin: 15px;
   padding: 0;
   max-width: 150px;
   
   
}

.categoryWords{
   font-size: 20px;
   border: 3px solid black;
   margin: 0 10px 10px 0;
   border-radius: 30px;
   text-align: center;

}

.letterbox{
   color: green;
   background-color: white;
   font-size: 16px;
   display: flex;
   margin: 15px;
   padding: 0;
   max-width: 90px;
   position: relative;

}
.squares{
   border: 3px solid red;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 0 10px 10px 0;
   width: 35px;
   height: 30px;
   padding-top: 10px;
   border-radius: 25px;
}



.tooltip {
   position: relative;
   border: 3px solid white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.tooltip .tooltip-text {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
   position: absolute;
   z-index: 1;
}

.tooltip:hover .tooltip-text{
   visibility: visible;
}

.reset{
   font-size: 20px;
   border-radius: 30px;
   border: 2px solid red;
   max-width: 90px;
   padding: 10px;
}
